body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: system-ui;
}

#viewport {
    width: 700px;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #ccc;
}

#character {
    position: absolute;
}

.name {
    color: white;
    background-color: black;
    border-radius: 8px;
    transform: translateY(100px);
    display: flex;
    justify-content: center;
}